@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --tenne-tawny: #ff5714;
    --tenne-tawny-dark: #ff5714;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    /* background-color:#003249; */
}
.nav {
    height: 80px;
    width: 100%;
    padding-top: 20px;
    background-color: black;
    color: aliceblue;
  }

.logo {
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
.nav ul {
    float: right;
    justify-content: space-between;
  }
  .nav ul li {
    display: inline-block;
  }
  
  .nav ul li a.active {
    transition: 5s;
    color: white;
  }
  /* .nav ul li a:hover {
    color: white;
    font-weight: bold;
  } */
  /* .nav ul li a:hover {
    text-decoration-line: underline;
    text-decoration-color: #ed661f;
  } */
  .nav-items {
    padding: 145px;
    font-size: 20px;
    color: white;
    
  }
.logo, .logo .primary{
    font-size: 1.5rem;
    font-family: 'Fuzzy Bubbles', cursive;
    font-style: italic;
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: #000000; }


.primary{
    color: #ff5714;
}

.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 1rem;
    color:#f0f0f0;
}
h3{
    color: #f0f0f0;
    font-style: italic;
    font-weight: bolder;
}

/*  */
.container{
    min-height: 100vh;
}
.wrap{
    position: absolute;
    justify-content:center;
    display: flex;
    top: 0%;
    right:0%;
  }
 
.wrap .register:hover,
.wrap .register:hover .tool,
.wrap .register:hover .tool::before {
  background: #ff5714;
  color: #ffffff;
}
.tool{
    font-size: 20px;
    text-decoration-color: #f0f0f0;
    padding-top: 20px;
    
}

form{
    height: 250px;
    width: 200px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 90%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 35px 20px;
    display: none;
}
.meal-wrapper{
    max-width: 100%;
    margin: auto;
    padding: 2rem;
    background-color:#003249;
    text-align: center;
    align-items: center;
}
